<%- include("partials/header") -%>


<div class="container gallery-container">

    <h1>My Photography</h1>

    <!-- <p class="page-description text-center">Fluid Layout With Overlay Effect</p> -->
    
    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/b.jpg">
                    <img src="../images/b.jpg" alt="Bridge">
                </a>
            </div>

            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/n.jpg">
                    <img src="../images/n.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/j.jpg">
                    <img src="../images/j.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/i.jpg">
                    <img src="../images/i.jpg" alt="Bridge">
                </a>
            </div>

            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/1.jpg">
                    <img src="../images/1.jpg" alt="Bridge">
                </a>
            </div>
           
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/2.jpg">
                    <img src="../images/2.jpg" alt="Park">
                </a>
            </div>

            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/3.jpg">
                    <img src="../images/3.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/4.jpg">
                    <img src="../images/4.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/5.jpg">
                    <img src="../images/5.jpg" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/6.jpg">
                    <img src="../images/6.jpg" alt="Coast">
                </a>
            </div> 
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/7.jpg">
                    <img src="../images/7.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/8.jpg">
                    <img src="../images/8.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/9.jpg">
                    <img src="../images/9.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/10.jpg">
                    <img src="../images/10.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/11.jpg">
                    <img src="../images/11.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/12.jpg">
                    <img src="../images/12.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/13.jpg">
                    <img src="../images/13.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="../images/14.jpg">
                    <img src="../images/14.jpg" alt="Rails">
                </a>
            </div>

        </div>

    </div>

</div>


<%- include("partials/footer") -%>